runtime/src/main/resources/wsdl/rooms.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://soap.roomservice.example.com" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.roomservice.example.com" targetNamespace="http://soap.roomservice.example.com">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://soap.roomservice.example.com">

    <xs:element name="getBookedRoomsRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="hotelId" type="xs:long"/>
                <xs:element name="roomType" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getBookedRoomsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="countBookedRooms" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


</xs:schema>
  </wsdl:types>
  <wsdl:message name="getBookedRoomsRequest">
    <wsdl:part element="tns:getBookedRoomsRequest" name="getBookedRoomsRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBookedRoomsResponse">
    <wsdl:part element="tns:getBookedRoomsResponse" name="getBookedRoomsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="RoomsPort">
    <wsdl:operation name="getBookedRooms">
      <wsdl:input message="tns:getBookedRoomsRequest" name="getBookedRoomsRequest">
    </wsdl:input>
      <wsdl:output message="tns:getBookedRoomsResponse" name="getBookedRoomsResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RoomsPortSoap11" type="tns:RoomsPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getBookedRooms">
      <soap:operation soapAction=""/>
      <wsdl:input name="getBookedRoomsRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getBookedRoomsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RoomsPortService">
    <wsdl:port binding="tns:RoomsPortSoap11" name="RoomsPortSoap11">
      <soap:address location="http://10.60.6.41:8080/ws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>